{% extends "sign_up_and_log_in_app/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container-centered {
            margin-top: 150px; /* Optional: Adjust the top margin as needed */
            background-color: white; /* Set the background color to blue */
            padding: 20px; /* Optional: Add padding for better appearance */
            border-radius: 10px; /* Optional: Add border radius for rounded corners */
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <p>You are signed in as {{user.username}} </p>
    <!--If the user is authenticated show this-->
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    <a href="{% url 'user_dashboard' %}" class="btn btn-primary">User Dashboard</a>
    <a href="{% url 'send_email' %}" class="btn btn-primary">Send Email</a>
    {% else %}
    <!--If the user is not authenticated,  impliment this-->
    <a href="{% url 'log_in_page' %}" class="btn btn-primary">Log in</a> 
    <a href="{% url 'sign_up_page' %}" class="btn btn-primary">Sign up</a>
    {% endif %}
{% endblock %}