{% extends "sign_up_and_log_in_app/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container-centered {
            margin-top: 150px; /* Optional: Adjust the top margin as needed */
            background-color: white; /* Set the background color to blue */
            padding: 20px; /* Optional: Add padding for better appearance */
            border-radius: 10px; /* Optional: Add border radius for rounded corners */
        }
        .user-image {
            max-width: 200px; /* Adjust the maximum width of the image as needed */
            max-height: 200px; /* Adjust the maximum height of the image as needed */
        }
    </style>
{% endblock %}
{% block content %}
    <h1>User Dashboard</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h4>Welcome, {{ username }}</h4> <!-- Display the username -->
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Image</button>
    </form>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% if user_profile.image %}
        <h3>Profile picture:</h3>
        <img src="{{ user_profile.image.url }}" alt="User Image" class="user-image">
    {% endif %}
{% endblock %}